<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/messages.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="/js/carousel.js" defer></script>

    {% block head %}{% endblock %}
</head>
<body>
    {% if includeNavbarAndFooter %}
        {% include 'navbar/navbar.html.twig' %}
    {% endif %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% if includeNavbarAndFooter %}
        {% include 'footer/footer.html.twig' %}
    {% endif %}
</body>
</html>
